.contact-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0;
}

.contact-title {
  font-size: 24px;
  margin-bottom: 0rem;
  color: #163EAF;
  text-align: center;
  font-size: 3rem;
}

.contact-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.contact-info {
  font-size: 16px;
  text-align: start;
  direction: ltr; 
  margin: 1rem;
}

.contact-info img {
  margin-right: 1rem;
}

.contact-right {
  flex: 1;
  width: 50%;
  padding: 3rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  direction: rtl;
}

.contact-form {
  display: flex;
  direction: ltr; 
  flex-direction: column;
}

.contact-input {
  width: 95%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-textarea {
  height: 100px;
  resize: none;
}

.contact-button {
  padding: 0.75rem;
  background-color: #127EE1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #163EAF;
}

.contact-container-ar{
  flex-direction: row-reverse;
}

.contact-container-ar .contact-form{
  
  direction: rtl; 
}


.contact-container-ar .contact-info img{
  margin-left: 1rem;

}

/* Mobile responsive styles */
@media (max-width: 599px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left {
    width: 90%;
    order: 2; 
    padding: 0;
    margin-top: 1rem;
  }

  .contact-right {
    width: 90%;
    order: 1; 
    padding: 0;
    text-align: start;
  }
  .contact-info{
    display: flex;
    
  }
}
