.CoursesCards-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 4rem;
}

@media (max-width: 599px) { 
    .CoursesCards-container{
        margin-bottom : 2rem;
    }
}