.coaches-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin-bottom: 4rem;
  padding-top: 5rem;
}

.coaches-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.coach-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  overflow: visible;
  background-color: #AD8FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coach-image:nth-child(1) {
  transform: translateX(100%);
}

.coach-image:nth-child(3) {
  transform: translateX(-100%);
}

.coaches-right {
  padding-top: 3rem;
  direction: rtl;
  right: 0;
  max-width: 400px;
}

.coaches-title {
  font-size: 24px;
  color: #127EE1;
  margin-bottom: 1rem;
}

.coaches-paragraph {
  font-size: 20px;
  text-align: start;

  color: #333;
}

.reverse .coaches-left {
  order: 2;
  margin-right: 0;
  margin-left: 2rem;
}

.reverse .coaches-right {
  order: 1;
  direction: ltr;
}

.reverse .coaches-paragraph {
  font-size: 16px;
}

/* Mobile responsive styles */
@media (max-width: 599px) {
  .coaches-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .coaches-left {
    margin-right: 0;
    flex-direction: row;
    gap: 3rem;
    order: 2;
  }

  .coaches-right {
    text-align: center;
    direction: rtl;
    padding: 1rem;
    order: 1;
  }

  .coach-image {
    transform: none !important;
    width: 65px;
    height: 65px;
  }

  .reverse .coaches-left {
    order: 1;
    margin-left: 0;
  }

  .reverse .coaches-right {
    order: 2;
    direction: ltr;
  }
}
