.NaveBar {
  display: flex;
  margin-left: 2rem;
  flex-direction: row;
  position: relative; 
  margin-bottom: 5rem;
  background-color: transparent; 
  z-index: 1000; 
}

.reverse-order  {
  flex-direction: row-reverse;
  margin-right: 3rem;

}

.reverse-order .menu  {
  flex-direction: row;
  direction: ltr;
}

.menu-and-language-switcher{
  background-color: #0d74d4 !important;
  position: fixed;
  display: flex;
  margin-left: 3rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: 4rem;
  width: 70%;
}

.menu {
  height: auto;
  padding: 1rem;
  margin-left: 10rem;
  position: fixed;
  display: flex;
  flex-direction: row-reverse; 
  gap: 5rem;
}

.menu.reverse-order {
  flex-direction: row;
  margin-right: 6rem;
}

.menuItem {
  color: aliceblue;
  display: flex;
  align-items: center;
  height: 2.5rem;
  justify-content: center;  
  position: relative;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0.7rem;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  cursor: pointer; 
}

.menuItem:hover,
.menuItem.active {
  text-align: center;
  justify-content: center;
  background-color: #FF8345; 
  height: 2.4rem;
  width: 6rem;
  border-radius: 10px;
}


.logo {
  position: absolute;
  right: 0;
  width: 200px;
  margin: 10px;
}

.reverse-order .logo {
  left: 0;
  right: unset;
}

.language-switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-button {
  height: 2rem;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.language-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.language-button.active {
  background-color: #FF8345;
  border-color: #FF8345;
}

.language-button:focus {
  outline: none; 
}

.reverse-order .language-switcher{
  margin-right: 3rem;
}