.Sections{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Sections-Title{
text-align: center;
justify-self: center;
color: #163EAF;
font-size: 2rem;
margin: 0.5rem;
margin-top: 2rem;
}

.Sections-text{
    text-align: center;
    font-size: 1.1rem;
}

.SectionCards-container{
    position: relative;
    display: flex;
    justify-content:center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    
}

.SectionCards-container::-webkit-scrollbar {
    display: none; 
}


.dots-container {
    display: flex;
    justify-content: center;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: #ccc;
    margin-top: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.hovered {
    background-color: #163eaf; 
  }

  
@media (max-width: 599px) {
    
.SectionCards-container{
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sections-text{
  margin-bottom: 0;
}
}