.footer-container {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow:visible;
}

.svg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:31rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 18rem;
  color: white;
  overflow: hidden;
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 5rem;  
  text-align: center;
}

.footer-image-container {
  display: flex;
  justify-content: center;
}

.footer-image {
  max-width: 10rem;
  height: auto;
}

.footer-center .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center .footer-links li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact p {
  margin: 0;
}

.copy-write {
  text-align: center;
  font-size: small;
  color: white;
}



@media (max-width: 599px) {
  .svg2 {
    height: 100%;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    padding-top: 20rem;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .footer-image-container {
    order: 1;
    margin: 1rem;
  }
  
  .footer-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    order: 2;
  }
  
  .footer-info {
    align-items: center;
    text-align: center;
    margin: 2rem;
    order: 3;
  }

  .copy-write {
    font-size: 12px;
    order: 4;
  }
}
