.footer-container {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 0;
  color: white;
}

.svg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 31rem;
}
.footer-row.reverse{
  text-align: right;
  direction: rtl;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  position: relative;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  color: white;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;  
  text-align: center;
}

.footer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image {
  max-width: 16rem;
  height: auto;
}

.footer-center .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center .footer-links li {
  font-size: large;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-center.reverse .footer-links li {
  direction: rtl;
  flex-direction: column-reverse;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact img {
  filter: brightness(0) invert(1); 
  margin-right: 10px;
}

.footer-contact {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.copy-write {
  text-align: center;
  font-size: small;
  filter: brightness(0) invert(1); 
}

.reverse .footer-image-container {
  order: 3;
}

.reverse .footer-row {
  order: 2;
}

.reverse .footer-info {
  order: 1;
}

/* Mobile responsive styles */
@media (max-width: 599px) {
  .svg2 {
    height: 100%;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    padding-top: 20rem;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .footer-image-container {
    order: 1;
    margin: 1rem;
  }

  .footer-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    order: 2;
  }

  .footer-info {
    align-items: center;
    text-align: center;
    margin: 2rem;
    order: 3;
  }

  .copy-write {
    text-align: center;
    width: 90%;
    font-size: 12px;
    order: 4;
  }

  .reverse .footer-image-container {
    order: 1;
  }

  .reverse .footer-row {
    order: 2;
  }

  .reverse .footer-info {
    order: 3;
  }
}
